body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD700;
}

.box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color:#8b00ff;
    padding: 25px;
    border-radius: 10px;
    gap: 10px;
}

.input-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
}
.input-btn-box input,
.input-btn-box button{
    height: 20px;
    border-radius: 5px;
    border: none;
    width: auto;
}

button{
    width: fit-content;
    height: 20px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #ab44ff;
    cursor: pointer;
}

